[user]
	name = Jeff Kinslow
	email = jeffrey.kinslow@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[core]
	excludesfile = ~/.gitignore
	autocrlf = false
	safecrlf = true
[apply]
	whitespace = fix
[github]
	user = jkins
[alias]
	vimdiff = difftool -y -t vimdiff -R
	ctags = !.git/hooks/ctags
[svn]
	rmdir = true
[init]
	templatedir = ~/.git_template
[url "https://github"]
	insteadOf = git://github
[http]
	proxy = http://contractorproxy.ms.northgrum.com:80
[https]
	proxy = http://contractorproxy.ms.northgrum.com:80
[push]
	default = simple
[alias]
    workprofile = 'config user.email "jeffrey.kinslow@ngc.com"'
