[user]
	name = Jeff Kinslow
	email = jeffrey.kinslow@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[core]
	excludesfile = ~/.gitignore
	autocrlf = false
	safecrlf = true
[apply]
	whitespace = fix
[commit]
	template = ~/.gitcommit
[github]
	user = jkins
[alias]
	vimdiff = difftool -y -t vimdiff -R
	ctags = !.git/hooks/ctags
[svn]
	rmdir = true
[init]
	templatedir = ~/.git_template
