[user]
	name = Jeff Kinslow
	email = jeffrey.kinslow@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[core]
	excludesfile = ~/.gitignore
	autocrlf = false
	safecrlf = true
[apply]
	whitespace = fix
[commit]
	template = ~/.gitcommit
[github]
	user = jkins
	token = 934368ea5d0a0ff9444bb8ffbd2832a5
